{% extends "master.html" %}

{% set title = 'Home' %}
{% set body_id = 'index' %}

{% block content %}
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <div class="ui message">
    <h2 class="ui image header">
      <div class="content">
        <h2 class="ui center aligned icon header">
          <i class="circular teal announcement icon"></i>
          Release Master
        </h2>
      </div>
      <div class="sub header">When you want to create your CHANGELOG from your github commit history</div>
    </h2><br/>
      <a href="{{ url_for('user_bp.login') }}">
        <button class="ui github button">
          <i class="github icon"></i>
          Sign in with Github
        </button>
      </a>
    </div>
  </div>
</div>
{% endblock %}
