<div class="ui secondary pointing menu">
  <div class="item">
    <a href="{{ url_for('user_bp.get_user_repos', page=1) }}">
      <i class="circular teal announcement icon"></i>
      <b class="grey">Release Master</b>
    </a>
  </div>
  <div class="right menu">
    {% if g.user %}
    <a class="ui item" href="{{ url_for('user_bp.logout') }}">
      Logout
    </a>
    {% else %}
    <a class="ui item" href="{{ url_for('user_bp.login') }}">
      Login
    </a>
    {% endif %}
  </div>
</div>
